<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="static/css/dragon-fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>RKP</title>
    <style></style>
</head>


<body background="/static/css/dragon-3.png" >

<nav class="navbar navbar-default" role="navigation">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="position: absolute; left: 10px; top: -15px" href="/">
                    <img src="static/css/mortal-kombat-x-dragon.png" width="50px%" height="50px">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-brand-centered">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/rkp">Rules</a></li>
                </ul>
                <form id="signout" class="navbar-form navbar-right" role="form" method="post" action="/logout">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
                <form id="signin" class="navbar-form navbar-right" role="form" method="post" action="/login">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Protocol">
                    </div>
                    <button type="submit" class="btn btn-primary">Run protocol</button>
                 </form>
            </div>
        </div>
    </nav>

<FONT color="white">
<div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="container col-md-10">
                <h1> Give points </h1>
                <table class="table" id="members">
                    <thead>
                          <tr>
                               <th width=60%>Name</th>
                               <th>RKP to be given</th>
                               <th>Give</th>
                               <th>Delete</th>
                               <th>RKP</th>
                          </tr>
                    </thead>
                    <tbody>
                    {% for m in members %}
                       <tr>
                           <td>
                               {{ m.name }}
                           </td>
                           <form id="m{{ m.index }}" method="post" action="/give_rkp">
                           <td>
                               <input id="amount" type="text" class="form-control" name="amount" value="" placeholder="Amount">
                               <input id="hidden" type="hidden" value="{{ m.index }}" name="hidden">
                           </td>
                               <td>
                                   <button type="submit" class="btn btn-primary">RKP</button>
                               </td>
                           </form>
                           <form id="m{{ m.index }}" method="post" action="/delete_user">
                                <td>
                                    <input id="hidden" type="hidden" value="{{ m.index }}" name="hidden">
                                    <button type="submit" class="btn btn-primary"> Delete </button>
                                </td>
                           </form>
                           <td>
                               {{ m.rkp }}
                           </td>
                       </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</FONT>

<FONT color="white">
<div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="container col-md-10">
                <h1> Add member </h1>
                <div class="container">
                    <form method="post" action="/add_member">
                        <input id="member" type="text" class="form-control" name="member" value="" placeholder="Name">
                        <br>
                        <input id="rkp" type="text" class="form-control" name="rkp" value="" placeholder="RKP">
                        <br>
                        <button type="submit" class="btn btn-primary">Add member</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</FONT>

</body>
</html>

<!-- The icon for the play button was created by Freepik from flaticon.com-->
<!-- The icon for the play_1 button was created by Yannick from flaticon.com-->
<!-- The icon for the play_2 button was created by Icon Works from flaticon.com-->
