<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Index
    </title>
    <link rel="shortcut icon" type="image/png" href="static/css/dragon-fav.png"/>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $('[id^=detail-]').hide();
        $('.toggle').click(function() {
            $input = $( this );
            $target = $('#'+$input.attr('data-toggle'));
            $target.slideToggle();
        });
    });
    </script>

</head>

<body background="static/css/drake-texture.jpg">

    <center><a href="/"><img src="static/css/follow_the_rules.png"></a></center>
    <center><FONT style="BACKGROUND-COLOR: black" color="white">"Follow the rules." - Aldor Peacekeeper 2015</FONT></center>
    <br>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">RKP - Point system</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                        <div class="col-xs-10">
                            Fremmøde
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-1">
                        <hr></hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-1">
                                    +5 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Deltagelse i et hyggearrangement.
                                </div>
                                <div class="col-xs-1">
                                    +3 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Deltagelse i en fest (arrangeret af RKG).
                                </div>
                                <div class="col-xs-1">
                                    +7 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Deltagelse i et møde.
                                </div>
                                <div class="col-xs-1">
                                    -5 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Udeblevet fra et møde.
                                </div>
                                <div class="col-xs-1">
                                    -2 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Udeblivelse fra et arrangement (der ikke er et møde).
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                        <div class="col-xs-10">
                            Tjanser
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-2">
                        <hr></hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-1">
                                    +12 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Deltagelse i oprydning i forbindelse med et rkg arrangement.
                                </div>
                                <div class="col-xs-1">
                                    +10 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Deltagelse i "sure tjanser". F.eks. pantning, slæbe arbejde, osv.
                                </div>
                                <div class="col-xs-1">
                                    +5 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Deltagelse i forberedelser til rkg arrangementer (f.eks.
                                </div>
                                <div class="col-xs-1">
                                    -5 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Udeblivelse fra en oprydning.
                                </div>
                                <div class="col-xs-1">
                                    -2 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Udeblivelse fra en sur tjans.
                                </div>
                                <div class="col-xs-1">
                                    +1 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Bliver tildelt de medlemmer der ligger i Legend i Hearthstone i slutningen af måneden.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                        <div class="col-xs-10">
                            Ansvarsposter
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-3">
                        <hr></hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-1">
                                    +10 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Færdiggjort en ansvarspost.
                                </div>
                                <div class="col-xs-1">
                                    +20 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Færdiggjort ALLE sine ansvarsposter.
                                </div>
                                <div class="col-xs-1">
                                    +10 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Påtaget sig en  ansvarspost (f.eks. at være en del af nargruppen).
                                </div>
                                <div class="col-xs-1">
                                    -20 RKP:
                                </div>
                                <div class="col-xs-5">
                                    Enten ikke færdiggøre en post til tiden eller helt at droppe den.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
                        <div class="col-xs-10">
                            Multipliers
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-4">
                        <hr></hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-1">
                                    "Ansvars" RKP:
                                </div>
                                <div class="col-xs-5">
                                    Hver gang man bliver givet RKP lægges 0.5 x antal ansvarsposter oveni. Hvis du f.eks. har 3 ansvarsposter, får du 1.5 ekstra RKP hver gang du tilegner dig point.
                                </div>
                                <div class="col-xs-1">
                                    "I live" RKP:
                                </div>
                                <div class="col-xs-5">
                                    Hvis man direkte efter et rkg arrangement deltager i oprydning, fordobles antallet af RKP man bliver tildelt. F.eks får du 30 RKP for at deltage i en RKG fest og derefter er med til at rydde op.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>
</body>
</html>
